<div class="container my-1 w-50 m-auto">

    <form action="#">
        <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" [(ngModel)]="userObj.user" name="user" 
            class="form-control"  placeholder="Ingrese usuario" required
            #user>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"  [(ngModel)]="userObj.password" name="password"
            class="form-control" placeholder="Ingrese password" required
            #password>
        </div>
        <button (click)="onLogin()" class="btn btn-success m-1">Log in</button>
    </form>
    
    <div>
        <p class="alert alert-primary" 
        *ngIf="getCode()=='01'">Sesion Iniciada</p>

        <p class="alert alert-danger" 
        *ngIf="getCode()=='99'">Credenciales incorrectas</p>
    </div>




</div>